#body{
    height: 65vh;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: whitesmoke;
    width: 30vw;
    border-radius: 10%;
    opacity: 93%;
}

body{
    background-image: linear-gradient(rgba(42, 0, 228, 0.3), rgba(255, 242, 0, 0.534)), url(/image/images.jpg);
    padding: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: tahoma;
}

input{
    padding: 10px;
}

.button{
    margin-left: 40px; 
    padding: 5px; 
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    background-color: aliceblue;
    transition: 2s;
    border-radius: 5%;
}

.button:hover{
    background-color: yellow;
    color: cornflowerblue;
    padding-left: 30px;
    padding-right: 30px;
    border-color: whitesmoke;
}

.fas-fa-globe{
    color: aqua;
}